<a href="{{ path('blog_ListeTorrent') }}">liste torrents</a>
<a href="{{ path('blog_homepage') }}">accueil</a>
<link rel="stylesheet" href="{{ asset('bundles/css/main.css') }}" type="text/css" />

<h4>formulaire d'upload </h4>
{{ form(form) }}