<a href="{{ path('blog_ListeTorrent') }}">liste torrents</a>
<a href="{{ path('blog_homepage') }}">accueil</a>
<link rel="stylesheet" href="{{ asset('bundles/css/main.css') }}" type="text/css" />

<h4>formulaire d'upload </h4>
<form action = "{{ path('blog_ajout') }}" method="post" enctype="multipart/form-data" >
    Envoyez plusieurs fichiers : <br />
    <input type = "hidden" name = "MAX_FILE_SIZE" value = "1000000" />
    <input name = "userFile[]" multiple = "multiple" type="file" accept="application/x-bittorrent"/><br />
    <input type = "submit" value = "Envoyer les fichiers" />
</form>