{# src/BlogBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
        <title>torrents</title>
    </head>

    <body> 
       <link rel="stylesheet" href="{{ asset('bundles/bootstrap-3.3.7/dist/css/bootstrap.css') }}"/>

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form class="navbar-form navbar-left" role="search">
            <ul class="nav navbar-nav">
                 <li >  <a href="{{ path('blog_ListeTorrent') }}">liste torrents</a> </li>
                <li>  <a href="{{ path('blog_ajout') }}">ajout torrents</a> </li>
            </ul>
        </nav>
    </div>
</header>
<article >
</article >
    </body>
</html>