{# src/BlogBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
        <title>torrents</title>
    </head>

    <body> 
       <link rel="stylesheet" href="{{ asset('bundles/bootstrap-3.3.7/dist/css/bootstrap.css') }}"/>
       <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}"/>

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form class="navbar-form navbar-left" role="search">
            <ul class="nav navbar-nav">
                 <li >  <a href="{{ path('blog_ListeTorrent') }}">liste torrents</a> </li>
                <li>  <a href="{{ path('blog_ajout') }}">ajout torrents</a> </li>
            </ul>
                </form>
        </nav>
    </div>
</header>

<div class="article" >
    
    <h3>Bienvenue sur notre site dédié au torrent </br> </h3>
    <p> Dans un premier temps vous pouvez 
    <ul>
    <li><strong>upload vos fichiers</strong> .torrent. Pour cela allez dans ajout torrent, séléctionnez votre fichiez faites envoyés, mettez un nom d'auteur et une description.</li> 
    <li>Ensuite vous pouvez <strong>voir les torrents upload</strong>, soit vous etes redirigez aprés avoir upload, soit vous pouvez cliquer sur liste torrent en haut</li>
    <li>Dans un second temps si vous n'êtes pas satisfait de l'upload <strong>vous pouvez le supprimer</strong>. Pour cela une fois la liste des torrents devant les yeux vous avez juste à sélectionner le(s) torrents que vous voulez puis cliquer sur supprimer </li>
    <li> Et enfin vous pouvez <strong>mettre à jour la description et/ou l'auteur</strong>. Cliquez sur une des deux cases d'un torrent, tapez ce que vous voulez, sélectionnez la case à droite et cliquez sur update </li>  
    </ul>
</div>
</html>