{# src/BlogBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
        <title>Dinosaures</title>
    </head>

    <body>
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/main.css') }}" type="text/css" />
        <ul class="path">
          <li><a href="{{ path('blog_ListeDinosaures') }}">Dinosaures</a></li>
        </ul>
    <div class= "global">

        <div class="titre">
                <h1>Les dinosaures!</h1>
        </div>

        <div class="gauche">
            <p>  test </p>
        </div>

        <div class="droite">
           
           <h2>premier paragraphe</h2>

            <p>
                vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures 
            </p>
            
            <h2>Deuxieme paragraphe</h2>
            
            <p>
                vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vvous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures
            </p>

            <h2>Troisieme paragraphe </h2>
            
             <p>
                vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures vous allez tout savoir sur les dinosaures 
            </p>

        </div>

    </div>

    </body>
</html>