body{
	background-color: #6666;
}

.titre{
	text-align: center;
}


}
.gauche {
	float: left;
	 width:20%;
	 background-color: #7C4153;
	
}

.droite{
	margin-left:20%;
	background-color: white;
	margin-right: 20%;
}

table

{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */

}

td
{

    border: 1px solid black;

}


