body{
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.titre{
	text-align: center;
}


}
.gauche {
	float: left;
	 width:20%;
	 background-color: burlywood;
	
}

.droite{
	margin-left:20%;
	background-color: white;
	margin-right: 20%;
}

table

{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */

}

td
{

    border: 1px solid black;

}


